<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="mat-display-1">Contributors</div>
  <div (scrolled)="onScrollDown()" [infiniteScrollDisabled]="nextPage==null" [infiniteScrollDistance]="1"
       class="contributors"
       infinite-scroll>
    <mat-card *ngFor="let contributor of contributors" class="contributor-card">
      <mat-card-header>
        <div class="avatar-image" mat-card-avatar>
          <img [src]="contributor.avatar" alt="">
        </div>
        <mat-card-title>{{contributor.name}}</mat-card-title>
        <mat-card-subtitle>Commits: {{contributor.commits}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div *ngIf="requesting" style="width: 100%;flex-shrink: 0;display: flex; justify-content: center">
      <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
    </div>
  </div>
</div>
