@import "~src/styles";

.container {
  @extend .row-wrapper
}


.contributors {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around !important;

  .contributor-card {
    max-width: 300px;
    width: 100%;
    margin: 10px;

    .mat-card-subtitle {
      margin-bottom: 0;
    }

    .avatar-image {
      overflow: hidden;
      border-radius: 50%;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

}
