<mat-toolbar>
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" fxHide fxShow.lt-sm="true" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">Reactant</a>
    <div fxShow.lt-sm="false">
      <ng-container *ngFor="let link of links" [ngSwitch]="link.type">
        <a *ngSwitchCase="'routerLink'" [routerLink]="link.value" class="mat-subheading-1">{{link.name}}</a>
        <a *ngSwitchCase="'href'" [href]="link.value" class="mat-subheading-1">{{link.name}}</a>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container" fxFlexFill fxHide fxShow.lt-sm="true"
                       [ngStyle]="{'pointer-events': sidenav.opened?'auto':'none'}"
                       style="position: absolute; background: rgba(0,0,0,0)">
  <mat-sidenav #sidenav fixedTopGap="56" mode="over" style="max-width: 250px; width: 100%">
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" [ngSwitch]="link.type" class="mat-subheading-1 nav-item">
        <a *ngSwitchCase="'routerLink'" [routerLink]="link.value" mat-line>{{link.name}}</a>
        <a *ngSwitchCase="'href'" [href]="link.value" mat-line>{{link.name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!--  <mat-sidenav-content>-->
  <!--    <p *ngFor="let content of fillerContent">{{content}}</p>-->
  <!--  </mat-sidenav-content>-->
</mat-sidenav-container>
