.mat-toolbar {
  display: flex;
  align-items: center;
  background: #7092a5;
  color: white;

  .mat-toolbar-row {
    max-width: 1280px;
    display: flex;
    align-items: center;

    a {
      margin: 0 10px;
      padding: 0 10px;
      color: white;
      text-decoration: none;
    }

    .nav-item {
      margin: 0;
    }
  }

}

