<div class="container">
  <div class="background-back">
    <div *ngFor="let bubble of backBubbles" [ngStyle]="bubble.style" class="bubble"></div>
  </div>
  <div class="background-front">
    <div *ngFor="let bubble of frontBubbles" [ngStyle]="bubble.style" class="bubble"></div>
  </div>
  <div class="content">
    <app-nav-bar></app-nav-bar>
    <div class="header">
      <div class="header-content logo">
        <img alt="Reactant Icon" src="/assets/img/small-icon.png">
        <div class="logo-text">
          <div class="logo-title mat-display-3">Reactant</div>
          <div class="logo-subtitle mat-caption">An elegant plugin framework for spigot</div>
        </div>
      </div>
      <div class="header-content header-action-buttons">
        <a color="primary" href="https://reactant.gitlab.io/cookbook-dev/quickstart/hello-world/" mat-flat-button>
          Get Started
        </a>
        <a color="primary" href="https://gitlab.com/reactant/reactant" mat-stroked-button>Gitlab</a>
      </div>
    </div>

    <div class="features">
      <div class="features-content">
        <div class="section-title mat-display-1">Features</div>

        <mat-card class="feature-box">
          <mat-icon fontIcon="fa-syringe" fontSet="fa"></mat-icon>
          <div>
            <div class="mat-title">Dependency Injection</div>
            <p>
            </p>
          </div>
        </mat-card>

        <mat-card class="feature-box">
          <mat-icon fontIcon="fa-code" fontSet="fa"></mat-icon>
          <div>
            <div class="mat-title">Elegant syntax</div>
            <p>
            </p>
          </div>
        </mat-card>

        <mat-card class="feature-box">
          <mat-icon fontIcon="fa-toolbox" fontSet="fa"></mat-icon>
          <div>
            <div class="mat-title">Common tools</div>
            <p>
            </p>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="footer">
      <div class="mat-body-1">
        Copyright © 2019 Reactant development team
      </div>
    </div>
  </div>
</div>
