@import "~src/styles";

.header {
  &::before {
    background: $secondary-color;
    width: 100%;
    height: 1000px;
    transform: skewY(5deg);
    content: '';
    position: absolute;
    top: -940px;
    z-index: -10;
  }

  @extend .row-wrapper;
  padding-top: 100px !important;
  padding-bottom: 100px !important;
  min-height: 600px;
  height: 100%;
  margin-top: -64px;
  justify-content: center;


  .header-content {
    padding: 20px;
    flex-wrap: wrap;

    & > * {
      flex-shrink: 0;
    }
  }

  .header-action-buttons {
    flex-direction: row;

    & > * {
      margin: 0 40px 10px;
      min-width: 120px;
    }
  }

  .logo {
    & > * {
      margin: 0 20px;
    }

    .logo-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      .logo-title {
        margin: 0 0 10px;
      }

      .logo-subtitle {
      }
    }
  }
}

.features {
  @extend .row-wrapper;
  //background: $secondary-color;
  color: #222222;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &::before {
    background: $secondary-color;
    width: 100%;
    height: calc(100%);
    transform: skewY(5deg);
    content: '';
    position: absolute;
    margin-top: calc(-30px);
    z-index: -10;
    opacity: 0.7;
  }

  .features-content {
    flex-direction: column;
    max-width: 800px;

    .feature-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;

      * {
        margin: 0 10px;
      }

      .mat-icon {
        font-size: 64px;
        width: 64px;
        height: 64px;
      }
    }
  }


}

.section-title {
  text-align: center;
}

.footer {
  @extend .row-wrapper;
  color: white;
  margin-top: 100px;
  padding: 100px 20px;
  background: #1d1d1d;
}

.container {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  perspective: 1px;
  transform-style: preserve-3d;

  .content {
    height: 100%;
  }

  .background-back, .background-front {
    height: 100%;
    width: 100%;
    position: absolute;

    .bubble {
      position: absolute;
      background: rgba(255, 255, 255, 0.44);
      border-radius: 50%;
      border: rgba(187, 197, 243, 0.47) 5px solid;
    }
  }

  .background-back {
    transform: translateZ(-2px) scale(3);
    z-index: -20;

    .bubble {
      filter: blur(1px);
    }
  }

  .background-front {
    transform: translateZ(-1px) scale(2);
    z-index: -10;
  }
}
