@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

.row-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}

.header-content {
  width: 100%;
  max-width: 1280px;
}


$secondary-color: #8d95b9;
.row-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
  }
}
